* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacifico', 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  margin-bottom: 3px;
}
body {
  font-family: 'Merriweather', 'sans-serif';
  font-size: 16px;
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
}
p,
ul {
  line-height: 1.5rem;
}
.page {
  background: url("http://subtlepatterns.com/patterns/linedpaper.png");
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 960px;
  width: 100%;
}
.page > h1 {
  padding-left: 20px;
}
.page img {
  border: 5px solid #565656;
  border-radius: 200px;
  margin: 0 auto;
  max-width: 40%;
  width: 277px;
  display: block;
}
.cta {
  padding: 20px 40px;
  position: relative;
}
.cta .shout-out {
  position: relative;
}
.shout-out .shout {
  float: left;
  margin: 50px 0 0 50px;
  color: #424242;
  text-shadow: 0 3px 0 #757986;
}
.shout-out .shout h1 {
  font-size: 2.5rem;
}
.shout-out img {
  float: left;
}
.container {
  padding: 15px 20px 15px;
}
.know-this,
.know-me {
  margin-bottom: 15px;
}
.extras a {
  padding-right: 5px;
}
.page ul {
  margin-left: 5px;
  padding-left: 17px;
}
.know-me,
.know-this,
.extras {
  padding-left: 5px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
